        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          	<li class="active"><a href="/dashbord">烘烤总览</a></li>
            <li><a href="/fresh_analysis">鲜烟素质分析 <span class="sr-only">(current)</span></a></li>
            <li><a href="/fresh_tobacco/packings">装烟情况统计</a></li>
            <li><a href="/workflows/baking_history?code=<%= role %>">烘烤量统计</a></li>
            <li><a href="/analysis_room_usage?groupBy=2&code=<%= role %>">烤房使用情况统计</a></li>
            <li><a href="/alarms">烤房远程监管</a></li>
          </ul>         
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">烘烤总览</h1>
            <div class="row">
            	<h5 class="sub-header" style="text-align:center">烤房利用率</h5>
		        <h6 style="text-align:center">单位：公斤</h6>
		        <div class="table-responsive">
		        	<table class="table table-striped table-hover table-condensed" id="useage">
		        		<thead>
		        			<th>应用烤房数</th>
		        			<th>装烟量</th>
		        			<th>干烟总量</th>
		        			<th>房数</th>
		        			<th>烘烤总时间(小时)</th>
		        		</thead>
		        	</table>
		        </div>
            </div>
	   		<div class="row">
				<h5 class="sub-header" style="text-align:center">正在烘烤总量</h5>
		        <h6 style="text-align:center">单位：公斤</h6>
		        <div class="table-responsive">
		          <table class="table table-striped table-hover table-condensed" id="table">
		              <thead>
		                <tr>
		                  <th>应用烤房数</th>
		                  <th>正在烘烤房数</th>
		                  <th>装烟量</th>
		                
		                </tr>
		              </thead>
		              <tbody>
		              	<%_.each(result, function(p){ %>
		              		<tr>
		              			<td>50</td>
		              			<td><%= p.bakingRoom %></td>
		              			<td><%= p.amount %></td>	
		              		</tr>
		              	<% }) %>
		              </tbody>
		            </table>
		  		</div>
		  		<h5 class="sub-header" style="text-align:center">烘烤正常完成总量</h5>
		        <h6 style="text-align:center">单位：公斤</h6>
		        <div class="table-responsive">
		          <table class="table table-striped table-hover table-condensed" id="table1">
		              <thead>
		                <tr>
		                	<th>应用烤房数</th>
		                	<th>房数</th>
		                	<th>装烟量</th>
		                </tr>
		              </thead>
		              <tbody>
		              	<%_.each(result, function(p){ %>
		              		<tr>
		              			<td>50</td>
		              			<td><%= p.normalRoom %></td>
		              			<td><%= p.dryAmount %></td>
		              		</tr>
		              	<% }) %>
		              </tbody>
		            </table>
		  		</div>
		  		<h5 class="sub-header" style="text-align:center">烘烤争议总量</h5>
		        <h6 style="text-align:center">单位：公斤</h6>
		        <div class="table-responsive">
		          <table class="table table-striped table-hover table-condensed" id="table2">
		              <thead>
		                <tr>
		                	<th>应用烤房数</th>
		                	<th>房数</th>
		                	<th>装烟量</th>
		                	<th>已决房数</th>
		                </tr>
		              </thead>
		              <tbody>
		              	<%_.each(result, function(p){ %>
		              		<tr>
		              			<td>50</td>
		              			<td><%= p.abitrateRoom %></td>
		              			<td><%= p.abitrateTobacco %></td>
		              			<td><%= p.abitrateFinished %></td> 
		              		</tr>
		              	<% }) %>
		              </tbody>
		            </table>
		  		</div>
			</div>
			<div class="row">
              <div id="chartContainer" style="height: 300px; width: 90%;"></div>
            </div>
        </div>
      </div>
<script type="text/javascript">
var useage;

$('document').ready(function(){

	var table = $('#table').dataTable({
        "scrollCollapse": true,
        'paging': false,
        'searching': false
    });
    var table1 = $('#table1').dataTable({
        "scrollCollapse": true,
        'paging': false,
        'searching': false
    });
    var table1 = $('#table2').dataTable({
        "scrollCollapse": true,
        'paging': false,
        'searching': false
    });
   

	useage = $('#useage').dataTable({
        "scrollCollapse": true,
        'paging': false,
        'searching': false,
        columns: [
        	{data: 'rooms'},
        	{data: 'freshAmount'},
        	{data: 'dryAmount'},
        	{data: 'count'},
        	{data: 'amountTime'}
        ]
    });



	var url = '/analysis_room_usage?code=<%= role %>';
    $.getJSON(url, function(data){
    	console.log(data);
    	data[0].rooms = 50;
    	data[0].freshAmount = parseFloat(data[0].freshAmount).toFixed(2);
    	data[0].dryAmount = parseFloat(data[0].dryAmount).toFixed(2);
    	data[0].amountTime = parseFloat(data[0].freshAmount).toFixed(2);
    	
    	useage.api().rows.add(data).draw();
    })
})

</script>