        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/workflows/fresh_tobacco">鲜烟素质分析 <span class="sr-only">(current)</span></a></li>
            <li><a href="/workflows/fresh_tobacco/packings">装烟情况统计</a></li>
            <li><a href="/workflows/dry_tobacco">烘烤量统计</a></li>
            <li><a href="#">烤房使用情况统计</a></li>
            <li><a href="/alarms">烤房远程监管</a></li>
          </ul>         
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Analysis</h1>

          <div class="row placeholders">
            <div class="col-xs-12 col-sm-12 col-md-12">
                        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="/workflows/fresh_tobacco" aria-controls="home" role="tab" data-toggle="link">鲜烟成熟度分析</a></li>
              <li role="presentation"><a href="/workflows/fresh_tobacco/breeds" aria-controls="profile" role="tab" data-toggle="link">鲜烟品种统计</a></li>
              <li role="presentation"><a href="/workflows/fresh_tobacco/fresh_type" aria-controls="messages" role="tab" data-toggle="link">鲜烟类型分析</a></li>
              <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="link">干烟质量分析</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="row">
                  <div class="col-xs-6 col-sm-4">
                    <div class="radio">
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 按烤房统计
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 按大户统计
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2"><input type="text" class="form-control" placeholder="烤房编号"></div>
                  <div class="col-xs-2"><input type="text" class="form-control" placeholder="烟基编号"></div>
                  <div class="col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">开始日期</div>
                            <input type="text" class="form-control" id="exampleInputAmount" name="startDate" />
                        </div>
                      </div> 
                  </div>
                  <div class="col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">结束日期</div>
                            <input type="text" class="form-control" id="exampleInputAmount" name="endDate" />
                        </div>
                      </div> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2"><input type="text" class="form-control" placeholder="鲜烟品种"></div>
                  <div class="col-xs-2"><input type="text" class="form-control" placeholder="鲜烟部位"></div>
                  <div class="col-xs-2"><button type="button" class="btn btn-primary">搜索</button></div>
                  <div class="col-xs-2"><button type="button" class="btn btn-default">重置</button></div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="profile">...</div>
              <div role="tabpanel" class="tab-pane" id="messages">...</div>
              <div role="tabpanel" class="tab-pane" id="settings">...</div>
            </div>
        </div>
            </div>
          </div>

          <h5 class="sub-header">烘烤鲜烟质成熟度查询表</h5>
          <h6>单位：公斤</h6>
          <div class="table-responsive">
            <table id="fresh_table" class="table table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <th>#</th>
                  <th>烤房编号</th>
                  <th>烟基编号</th>
                  <th>所属机构</th>
                  <th>鲜烟总量</th>
                  <th>正常烟叶</th>
                  <th>欠熟烟叶</th>
                  <th>过熟烟叶</th>
                  <th>病残烟叶</th>
                  <th>鲜烟品种</th>
                  <th>烟叶部位</th>
                  <th>含水量</th>
                  <th>烟叶类型</th>
                  <th>烟叶质地</th>
                  <th>images</th>
                </tr>
              </thead>
              <tbody>
               	<% _.each(results, function (tobacco) { %>
               		<tr>
               		 <td></td>
               		 <td><%= tobacco.room_no %></td>
               		 <td><%= tobacco.tobacco_no %></td>
               		 <td><%= tobacco.org_name %></td>
               		 <td><%= tobacco.tobaccoSum()/2 %></td>
               		 <td><%= tobacco.tobaccoMaturity()[0] * tobacco.tobaccoSum() / 200 %></td>
               		 <td><%= tobacco.tobaccoMaturity()[1] * tobacco.tobaccoSum() / 200 %></td>
               		 <td><%= tobacco.tobaccoMaturity()[2] * tobacco.tobaccoSum() / 200 %></td>
               		 <td><%= 0 %></td>
               		 <td><%= tobacco.tobaccoBreed() %></td>
               		 <td><%= tobacco.tobaccoPart() %></td>
                   <td><%= tobacco.waterContent() %></td>
               		 <td><%= tobacco.tobaccoType() %></td>
               		 <td><%= tobacco.tobaccoQuality() %></td>
                   <td>
                    <% _.each(tobacco.freshTobaccoImages(), function(image){ %>
                      <a href='/images/photos/<%= image %>' target='_blank'><img src="/images/photos.jpg" width="20" height="20" /></a>
                    <% }) %>
                   </td>
               		</tr>
    			     <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
