        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">鲜烟素质分析 <span class="sr-only">(current)</span></a></li>
            <li><a href="/cities/<%= code %>/packings">装烟情况统计</a></li>
            <li><a href="/cities/<%= code %>/bakingHistory">烘烤量统计</a></li>
            <li><a href="#">烤房使用情况统计</a></li>
            <li><a href="/cities/<%= code %>/alarms">烤房远程监管</a></li>
          </ul>          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><%= place %></h1>
          <div class="row placeholders">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="link">鲜烟成熟度分析</a></li>
              <li role="presentation"><a href="/cities/<%= code %>/breeds" aria-controls="profile" role="tab" data-toggle="link">鲜烟品种统计</a></li>
              <li role="presentation"><a href="/cities/<%= code %>/types" aria-controls="messages" role="tab" data-toggle="link">鲜烟类型分析</a></li>
              <li role="presentation"><a href="/cities/<%= code %>/dries" aria-controls="settings" role="tab" data-toggle="link">干烟质量分析</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="row">
                  <div class="col-xs-6 col-sm-4">
                    <div class="radio">
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> 按烤房统计
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 按大户统计
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                    <select id="place" class="form form-control">
                      <option value="">选择地区</option>
                      <option value="431129">江华县</option>
                      <option value="431124">宁远县</option>
                      <option value="431125">江永县</option>
                      <option value="431127">蓝山县</option>
                      <option value="431122">东安县</option>
                      <option value="431130">双牌县</option>
                      <option value="431124">道县</option>
                    </select>
                  </div>
                  <div class="col-xs-2"><input id="tobaccoNo" type="text" class="form-control" placeholder="烟基编号"></div>
                  <div class="col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">开始日期</div>
                            <input type="text" class="form-control" id="protocolStartDate" name="startDate" />
                        </div>
                      </div> 
                  </div>
                  <div class="col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">结束日期</div>
                            <input type="text" class="form-control" id="protocolEndDate" name="endDate" />
                        </div>
                      </div> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                    <select id="tobaccoBreed" class="form form-control">
                        <option value="">选择鲜烟品种</option>
                        <option value="云烟87">云烟87</option>
                        <option value="湘烟3号">湘烟3号</option>
                        <option value="K236">K236</option>
                        <option value="other">其他</option>
                        
                      </select>
                    </div>
                   <div class="col-xs-2">
                  <input id="roomNo" type="text" class="form-control" placeholder="烤房编号">

                   </div>
                  <div class="col-xs-2">
                      <select id="tobaccoPart" class="form form-control">
                        <option value="">选择烟叶部位</option>
                        <option value="上部叶">上部叶</option>
                        <option value="中部叶">中部叶</option>
                        <option value="下部叶">下部叶</option>
                      </select>
                   
                  </div>
                  <div class="col-xs-2"><button type="button" class="btn btn-primary" id="searchButton">搜索</button></div>
                  <div class="col-xs-2"><button type="button" class="btn btn-default">重置</button></div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="profile">...</div>
              <div role="tabpanel" class="tab-pane" id="messages">...</div>
              <div role="tabpanel" class="tab-pane" id="settings">...</div>
            </div>
        </div>
            </div>
          </div>

           <div class="row">
            <div id="chartContainer" style="height: 300px; width: 100%; display: none"></div>
          </div>
          <h4 class="sub-header" style="text-align:center">烘烤鲜烟成熟度查询表</h4>
          <h6 style="text-align:center">单位：公斤</h6>
          <div class="table-responsive">
            <table id="fresh_table" class="display" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th rowspan="2">烤房编号</th>
                  <th rowspan="2">烟基编号</th>
                  <th rowspan="2">鲜烟总量</th>
                  <th rowspan="2">坎数</th>
                  <th rowspan="2">品种</th>               
                  <th rowspan="2">部位</th>
                  <th rowspan="2">类型</th>
                  <th rowspan="2">质地</th>
                  <th colspan="3">成熟度</th>
                  <th rowspan="2">照片</th>
                  <th rowspan="2">烟农姓名</th>
                  <th rowspan="2">身份证</th>
                  <th rowspan="2">日期</th>
                </tr>
                <tr>
                  <th>正常烟叶</th>
                  <th>欠熟烟叶</th>
                  <th>过熟烟叶</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
      
            </div>
        </div>
      </div>

      <script type="text/javascript">
        var table;

        function createTobacco(arr){
            var freshTobaccos = [];
            

            arr.forEach(function(element, index, arr){
              var tobacco = [];
              var count = 1;
              var amount_weight = parseFloat(element.packing.average_weight) *
                                  parseInt(element.packing.packing_amount) / 2;

              tobacco.push(element.room_no);
              tobacco.push(element.tobacco_no);
              tobacco.push(amount_weight.toFixed(2));

              //统计坎数
              freshTobaccos.forEach(function(ele, index, freshTobaccos){
                  if(ele[1] == element.tobacco_no)
                    count ++;
              });
              tobacco.push(count);

              tobacco.push(element.fresh_tobacco.breed);
              tobacco.push(element.fresh_tobacco.part);
              tobacco.push(element.fresh_tobacco.tobacco_type);
              tobacco.push(element.fresh_tobacco.quality);

              var maturities = element.fresh_tobacco.maturity.split('/');
              maturities.forEach(function(m, i, maturities){
                tobacco.push((parseFloat(m) / 100 * amount_weight).toFixed(2));
              });

              var files = element.fresh_tobacco.filename;
              var paths = '';
              files.forEach(function(file, index, files){
                  paths += '<a href="/images/photos/'+ file +'" target="_blank"><img src="/images/photos.jpg" width="20" height="20" /></a>'
              });
              tobacco.push(paths);

              tobacco.push(element.protocol.yi);
              tobacco.push(element.protocol.UID);
              tobacco.push(element.protocol_created_at.slice(0,element.protocol_created_at.indexOf('T')));
              freshTobaccos.push(tobacco);

            });
            return freshTobaccos;
        };

        $(document).ready(function(){
            table = $('#fresh_table').dataTable({
              "scrollCollapse": true,
              "scrollX": true
            });

            var url = 'http://121.41.111.212:1337/workflows/manage_fresh/tobaccos?code=' + <%= code %>;
        });


        $('#searchButton').on('click', function(){
            var roomNo = $('#roomNo').val();
            var tobaccoNo = $('#tobaccoNo').val();
            var tobaccoBreed = $('#tobaccoBreed').val();
            var tobaccoPart = $('#tobaccoPart').val();
           
            var place = $('#place').val();
            var protocolStartDate = $('#protocolStartDate').val();
            var protocolEndDate = $('#protocolEndDate').val();

            var url = 'http://121.41.111.212:1337/workflows/manage_fresh/tobaccos?';

            
            if(roomNo != '')
              url += 'room_no=' + roomNo + '&'  
            if(tobaccoNo != '')
              url += 'tobacco_no=' + tobaccoNo + '&';
              
            if(tobaccoBreed != '')
              url += 'fresh_tobacco.breed=' + tobaccoBreed + '&';
          
            if(tobaccoPart != '')
              url += 'fresh_tobacco.part=' + tobaccoPart + '&';
           
            if(place != '')
              url += 'code=' + place + '&';
           
            if(protocolStartDate != '')
              url += 'startDate=' + protocolStartDate + '&';

            if(protocolEndDate != '')
              url += 'endDate=' + protocolEndDate + '&';

            url = url.substring(0, url.lastIndexOf('&') );
          
            $.getJSON(url, function(data){
               table.fnClearTable();
               if(data.result !== undefined){
                  
                  table.api().rows.add(createTobacco(data.result)).draw();
                  showChart();
               }
               
                // if(data.result !== undefined)
                //   showChart();
               
               
            });

        });

        function createChartDatasets(){
            var normal = 0;
            table.api().columns(8).data().reduce(function(a, b){
                  return a + b;
              }).forEach(function(value , index){
                normal += parseFloat(value);
              });

            var guoshu = 0;
            table.api().columns(9).data().reduce(function(a, b){
                  return a + b;
              }).forEach(function(value , index){
                guoshu += parseFloat(value);
              });

            var qianshu = 0;
            table.api().columns(10).data().reduce(function(a, b){
                  return a + b;
              }).forEach(function(value , index){
                qianshu += parseFloat(value);
              });

            var datasets = [];
            datasets.push({
              y: normal, indexLabel: '正常烟叶'
            });
            datasets.push({
              y: guoshu, indexLabel: '过熟烟叶'
            });
            datasets.push({
              y: qianshu, indexLabel: '欠熟烟叶'
            })
            
            return datasets;
        }

        function showChart(){
          var datasets = createChartDatasets();

          $('#chartContainer').show();
          var chart = new CanvasJS.Chart("chartContainer",
            {
              
              legend: {
                maxWidth: 350,
                itemWidth: 120
              },
              data: [
              {
                type: "pie",
                showInLegend: true,
                legendText: "{indexLabel}",
                toolTipContent: "{y} - #percent %",
                dataPoints: datasets
              }
              ]
            });
            chart.render();
        }

      </script>
