        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/dashbord">烘烤总览</a></li>
            <li class="active"><a href="/fresh_analysis">鲜烟素质分析 <span class="sr-only">(current)</span></a></li>
            <li ><a href="/fresh_tobacco/packings">装烟情况统计</a></li>
            <li><a href="/workflows/baking_history?code=<%= role %>">烘烤量统计</a></li>
            <li><a href="/analysis_room_usage?groupBy=2&code=<%= role %>">烤房使用情况统计</a></li>
            <li><a href="/alarms">烤房远程监管</a></li>
          </ul>          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row placeholders">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="link">鲜烟成熟度分析</a></li>
                  <li role="presentation"><a href="/fresh_analysis/breeds" aria-controls="profile" role="tab" data-toggle="link">鲜烟品种统计</a></li>
                  <li role="presentation"><a href="/fresh_analysis/types" aria-controls="messages" role="tab" data-toggle="link">鲜烟类型分析</a></li>
                  <li role="presentation"><a href="/dry_tobacco" aria-controls="settings" role="tab" data-toggle="link">干烟质量分析</a></li>
                </ul>
              </div>
            </div>
          </div>         
          <div class="row">
            <div id="sumChartContainer" style="height: 300px;" class="col-xs-4"></div>
            <div id="groupByPlaceContainer" style="height: 300px;;" class="col-xs-8"></div>
          </div>
          <h4 class="sub-header" style="text-align:center">烘烤鲜烟成熟度统计</h4>
          <h6 style="text-align:center">单位：公斤</h6>
          <div class="table-responsive">
            <table id="fresh-sum" class="display compact" cellpadding="0" width="100%">
              <thead>
                <tr>
                  <th rowspan="2">地区</th>
                  <th rowspan="2">鲜烟总量</th>
                  <th colspan="3">成熟度</th>
                </tr>
                <tr>
                  <th>正常烟叶</th>
                  <th>欠熟烟叶</th>
                  <th>过熟烟叶</th>
                </tr>
              </thead>
            </table>
          </div>
          <br />
                <div class="row">
                  <div class="col-xs-2" id="counties">
                    <select id="place" class="form form-control">
                      <option value="">选择县</option>
                      <%_.each(place.counties, function(county){%>
                        <option value="<%= county.id %>"> <%= county.name %></option>
                      <% }) %>
                    </select>
                  </div>
                  <div class="col-xs-2" id="towns" style="display: none">
                    <select id="town" class="form form-control">
                    </select>
                  </div>
                  <div class="col-xs-2" id="stations" style="display: none">
                    <select id="station" class="form form-control">
                    </select>
                  </div>
                    <a href="javascript:void(0)" id="advance-search-link">高级搜索</a>
                </div>
                <div id="search-advance" style="display: none">
                   <div class="row">
                  <div class="col-xs-2">
                    <input id="tobaccoNo" type="text" class="form-control" placeholder="烟基编号">
                  </div>
                  <div class="col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">开始日期</div>
                            <input type="text" class="form-control" id="protocolStartDate" name="startDate" />
                        </div>
                      </div> 
                  </div>
                  <div class="col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">结束日期</div>
                            <input type="text" class="form-control" id="protocolEndDate" name="endDate" />
                        </div>
                      </div> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                      <input id="roomNo" type="text" class="form-control" placeholder="烤房编号">
                  </div>
                  <div class="col-xs-2">
                    <select id="tobaccoBreed" class="form form-control">
                        <option value="">选择鲜烟品种</option>
                        <option value="云烟87">云烟87</option>
                        <option value="湘烟3号">湘烟3号</option>
                        <option value="K236">K236</option>
                        <option value="other">其他</option>
                        
                      </select>
                    </div>

                  <div class="col-xs-2">
                      <select id="tobaccoPart" class="form form-control">
                        <option value="">选择烟叶部位</option>
                        <option value="上部叶">上部叶</option>
                        <option value="中部叶">中部叶</option>
                        <option value="下部叶">下部叶</option>
                      </select>
                  </div>
                  
                </div>
                </div>
                <div class="row">
                  <div class="col-xs-2"><button type="button" class="btn btn-primary" id="searchButton">搜索</button></div>
                  <div class="col-xs-2"><button type="button" class="btn btn-default">重置</button></div>
                </div>
           <div class="row">
            <div id="chartContainer" style="height: 300px; width: 100%; display: none"></div>
          </div>
          <h4 class="sub-header" style="text-align:center">烘烤鲜烟成熟度明细表</h4>
          <h6 style="text-align:center">单位：公斤</h6>
          <div class="table-responsive">
            <table id="fresh_table" class="display compact" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th rowspan="2">烤房编号</th>
                  <th rowspan="2">烟基编号</th>
                  <th rowspan="2">鲜烟总量</th>
                  <th rowspan="2">坎数</th>
                  <th rowspan="2">品种</th>               
                  <th rowspan="2">部位</th>
                  <th rowspan="2">类型</th>
                  <th rowspan="2">质地</th>
                  <th colspan="3">成熟度</th>
                  <th rowspan="2">照片</th>
                  <th rowspan="2">烟农姓名</th>
                  <th rowspan="2">身份证</th>
                  <th rowspan="2">日期</th>
                </tr>
                <tr>
                  <th>正常烟叶</th>
                  <th>欠熟烟叶</th>
                  <th>过熟烟叶</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
      
            </div>
        </div>
      </div>

<script type="text/javascript">
  var sumTable;
  var detailTable;

  var advanceDisplay = false;
  var stateParam = <%= place.code %>;

  $(document).ready(function(){

      detailTable = $('#fresh_table').dataTable({
        "scrollCollapse": true,
        'searching': false
      });

      sumTable = $('#fresh-sum').dataTable({
        "scrollCollapse": true,
        "paging": false,
        "ordering": false,
        'searching': false
      });

      initAdvanceSearchLink();

      initSearchButton('/workflows/manage_fresh/tobaccos?', 
                      function(data){
                          detailTable.api().clear().draw();
                          if(data){
                            detailTable.api().rows.add(analysisMaturityResult(data)).draw();
                            $('#chartContainer').show();
                            var datasets = generatePieChartDatasets(detailTable,[8,9,10], ['正常烟叶', '欠熟烟叶', '过熟烟叶'])
                            createPieChart('chartContainer', datasets);
                          }
                          initDataForStatistics();
                      }
      );
      
      initDataForStatistics();
      initLinkedSelect();

      
  }); 


  //private methods
  function initDataForStatistics(){
    var url = '/fresh_analysis/maturity/summery?code=' + stateParam;
    $.getJSON(url, function(data){

      if(data.length > 0){
        var datasets = [];
        var chartData = [];

        var chartObj1 = {};
        var chartObj2 = {};
        var chartObj3 = {};

        chartObj1.type = 'stackedColumn';
        chartObj1.showInLegend = true;
        chartObj1.name = '正常烟叶';
        //chartObj1.color = "#EDCA93";
        chartObj1.toolTipContent = "{label}<br/><span style='\"'color: {color};'\"'><strong>{name}</strong></span>: {y}Kg",
        chartObj1.dataPoints = [];

        chartObj2.type = 'stackedColumn';
        chartObj2.showInLegend = true;
        chartObj2.name = '过熟烟叶';
        //chartObj2.color = "#695A42";
        chartObj2.toolTipContent = "{label}<br/><span style='\"'color: {color};'\"'><strong>{name}</strong></span>: {y}Kg",
        chartObj2.dataPoints = [];

        chartObj3.type = 'stackedColumn';
        chartObj3.showInLegend = true;
        chartObj3.name = '欠熟烟叶';
        //chartObj3.color = '#B6B1A8';
        chartObj3.toolTipContent = "{label}<br/><span style='\"'color: {color};'\"'><strong>{name}</strong></span>: {y}Kg",
        chartObj3.dataPoints = [];

        data.forEach(function(element){
          var array = [];
          var x ;
          switch((stateParam + '').length){
            case 2:
              array.push(element.city);
              x = element.city;
              break;
            case 4:
              array.push(element.county);
              x = element.county;
              break;
            case 6:
              array.push(element.town);
              x = element.town;
              break;
            case 8:
              array.push(element.org_name);
              x = element.org_name;
              break;
          }
          
          array.push(element.amount);

          array.push(element.totalA);
          chartObj1.dataPoints.push({label: x, y: element.totalA});

          array.push(element.totalB);
          chartObj2.dataPoints.push({label: x, y: element.totalB});

          array.push(element.totalC);
          chartObj3.dataPoints.push({label: x, y: element.totalC});

          datasets.push(array);
        });

        chartData.push(chartObj1);
        chartData.push(chartObj2);
        chartData.push(chartObj3);

        console.log(chartData);
        sumTable.api().clear().draw();    
        sumTable.api().rows.add(datasets).draw();

        createPieChart('sumChartContainer',
                       generatePieChartDatasets(sumTable,[2,3,4], ['正常烟叶', '欠熟烟叶', '过熟烟叶']));  


         var chart = new CanvasJS.Chart("groupByPlaceContainer",
        {
            title:{
      text: "各县鲜烟素质分析"   
      },
      axisY:{
        title:"装烟量(Kg)"   
      },
      animationEnabled: true,
      data: chartData,
      legend:{
        cursor:"pointer",
        itemclick: function(e) {
          if (typeof (e.dataSeries.visible) ===  "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
          }
          else
          {
            e.dataSeries.visible = true;
          }
          chart.render();
        }
      }
       });

        chart.render();      
      }else{
        sumTable.api().clear().draw();
        $('#sumChartContainer').hide();
        $('#chartContainer').hide();   
      }   
    });
  }



  function analysisMaturityResult(arr){
    var freshTobaccos = [];

    arr.forEach(function(element, index, arr){
      var tobacco = [];
      var count = 1;
      var amount_weight = parseFloat(element.packing.average_weight) *
                          parseInt(element.packing.packing_amount) ;

      tobacco.push(element.room_no);
      tobacco.push(element.tobacco_no);
      tobacco.push(amount_weight.toFixed(2));

      //统计坎数
      freshTobaccos.forEach(function(ele, index, freshTobaccos){
          if(ele[1] == element.tobacco_no)
            count ++;
      });
      tobacco.push(count);

      tobacco.push(element.fresh_tobacco.breed);
      tobacco.push(element.fresh_tobacco.part);
      tobacco.push(element.fresh_tobacco.tobacco_type);
      tobacco.push(element.fresh_tobacco.quality);

      var maturities = element.fresh_tobacco.maturity.split('/');
      maturities.forEach(function(m, i, maturities){
        tobacco.push((parseFloat(m) / 100 * amount_weight).toFixed(2));
      });

      var files = element.fresh_tobacco.filename;
      var paths = '';
      files.forEach(function(file, index, files){
          paths += '<a href="/images/photos/'+ file +'" target="_blank"><img src="/images/photos.jpg" width="20" height="20" /></a>'
      });
      tobacco.push(paths);
      tobacco.push(element.protocol.yi);
      tobacco.push(element.protocol.UID);
      tobacco.push(element.protocol_created_at.slice(0,element.protocol_created_at.indexOf('T')));

      freshTobaccos.push(tobacco);

    });
    return freshTobaccos;
  } 


</script>
